#sign_up {display: flex;flex-direction: column;align-items: center; margin-top:40px;}

form#login {display: flex;flex-direction: column;align-items: center; margin-top:40px;}


.login .head {margin-top: 50px;text-align: center;}

.login p {text-align: center;}
.login .alert-heading {margin-top: 20px;text-align: center;}